* {
    box-sizing: border-box;
}

html {
    background: repeating-linear-gradient(135deg, rgb(60, 60, 60) 0, rgb(90, 90, 90) 10%, rgb(120, 120, 120) 20%);
}

.main {
    display: flex;
}

.player {
    position: relative;
    margin: 5vmin 5vmin 0 5vmin ;
}

.thumbnail-vedio {
    position: absolute;
    left: 0;
    border: 10px solid rgb(60, 60, 60);
    width: 150vmin;
    height: auto;
    z-index: 1;
}
.player:hover .thumbnail-vedio{
    z-index: -1;
}

.video_player {
    position: relative;
    border: 10px solid rgb(60, 60, 60);
    width: 150vmin;
    height: auto;
}

#div-left {
    position: absolute;
    left: 5vmin;
    top: 1vmin;
    width: 71.5vmin;
    height: 75vmin;
    z-index: 1;
}

#div-right {
    position: absolute;
    left: 76.5vmin;
    top: 1vmin;
    width: 68vmin;
    height: 75vmin;
    z-index: 1;
}

.player_controls {
    position: absolute;
    bottom: 3vmin;
    left: 2vmin;
    visibility: hidden;
    width: 100%;
}
.player:hover .player_controls {
    visibility: visible;
}

#toggle {
    margin: 0;
    padding: 1vmin 4vmin;
    border-radius: 5px 10px;
    margin: 0 2vmin;
    background-color: rgba(65, 57, 57, 0.636);
    color: white;
}

#speed {
    transform: translateY(-39vmin) translateX(-48vmin) rotateZ(270deg);
    width: 70vmin;
    position: absolute;
    color: gray;
}

#volume {
    transform: translateY(-39vmin) translateX(94vmin) rotateZ(270deg);
    width: 70vmin;
    position: absolute;
    color: gray;
}

#duration {
    position: absolute;
    width: 100vmin;
    transform: translateX(20vmin) translateY(2vmin);
}

.player_button_outer {
    position: absolute;
    transform: translateX(127vmin) translateY(-5vmin);
}

.player_button {
    margin: 5px;
    padding: 6px 12px;
    background-color: rgba(65, 57, 57, 0.636);
    color: white;
    border-radius: 5px 10px;
}

#seek-vedio {
    position: absolute;
    border: 2px solid black;
    visibility: hidden;
    left: 60px;
    top: 62.5vmin;
    z-index: 58;
    width: 25vmin;
    height: auto;
}

.help {
    background-color: rgb(210, 210, 210);
    width: 40vmin;
    height: auto;
    margin: 5vmin 0;
}

#ftrHdng {
    text-align: center;
}

.help ul li {
    margin: 10px 0;
}
  